@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
body {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    color: white;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    background: #F2F3EB;
}

/* ------ Header ------*/
header {
    height: 200px;
    width: 100%;
    /* background-color: #E3ECFF; */
    /* background: #385A71; */
    background: linear-gradient(180deg, #385A71, #E3ECFF);
    top: 0;
    bottom: 0;
    position: absolute;
    /* border-bottom: 1px solid #878787; */
}



.headimg {
    color: black;
    width: 100px;
    height: 100px;
}




.navigation {
    height: 100px;
    background-color: transparent;
    font-size: 30px;
    position: relative;

}

.logoimg {
    height: 50px;
    position: relative;
    left: -430px;
    top: 25px;
}


.brand a,
.brand a:visited {
    color: #ffffff;
    text-decoration: none;
}

.nav-container {
    max-width: 1000px;
    margin: 0 auto;
}

nav {
    float: right;
    left: 400px;
    position: relative;
    bottom: 45px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}



nav ul li {
    float: left;
    position: relative;
}


nav ul li a,
nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: transparent;
    color: #ffffff;
    text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
    background: #2581DC;
    color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' ▾';
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
    display: none;
    position: absolute;
    bottom: 15px;
    left: 200px;
    background: transparent;
    height: 70px;
    width: 70px;
}

@media only screen and (max-width: 798px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul {
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a {
        padding: 15px;
        line-height: 20px;
    }

    nav ul li ul li a {
        padding-left: 30px;
    }

    .nav-dropdown {
        position: static;
    }
}

@media screen and (min-width: 799px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
    top: -10px;
}

#nav-toggle span:after {
    bottom: -10px;
}

#nav-toggle.active span {
    background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
    top: 0;
}

#nav-toggle.active span:before {
    transform: rotate(45deg);
}

#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

article {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

/* ------ Contact form begins ------*/

html{
    font-family: 'Montserrat', Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

button {
    overflow: visible;
}

button, select{
    text-transform: none;
}

button, input, select, textarea{
    color: #5A5A5A;
    font: inherit;
    margin: 0;
}

input {
    line-height: normal;
}

textarea {
    overflow: auto;
}

#container {
    border: solid 3px #474544;
    max-width: 768px;
    margin: 60px auto;
    position: relative;
    top: 300px;
}

form {
    padding: 37.5px;
    margin: 50px 0;
    background: none;
}

h1 {
    color: #474544;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 7px;
    text-align: center;
    text-transform: uppercase;
}

.underline{
    border-bottom: solid 2px #474544;
    margin: -0.512em;
    width: 80px;
    position: relative;
    left: 200px;
}

.icon-wrapper {
    margin: 50px auto 0;
    width: 100%;
}

.icon {
    display: block;
    fill: #474544;
    height: 50px;
    margin: 0 auto;
    width: 50px;
    position: relative;
    top: 25px;
}

.email {
    float: right;
    background: none;
}

input[type="text"], [type="email"] select, textarea {
    background: none;
    border: none;
    border-bottom: solid 2px #474544;
    color: #474544;
    font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0 0 0.875 0;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus  {
    outline: none;
    padding: 0 0 0.875em 0;
}

.message{
    float: none;
}

.name{
    float: left;
    width: 45%;
}

select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') 
    no-repeat right;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select::-ms-expand{
    display: none;
}

.subject {
    width: 100%;
}

.telephone{
    width: 100%;
}

textarea {
    line-height: 150%;
    height: 150px;
    resize: none;
    width: 100%;
}

::-webkit-input-placeholder {
    color: #474544;
}

:-moz-placeholder{
    color: #474544;
    opacity: 1;
}

::-moz-placeholder{
    color: #474544;
    opacity: 1;
}

:-ms-input-placeholder{
    color: #474544;
}

#form_button {
    background:none;
    border: solid 2px #474544;
    color: #474544;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica', Arial, sans-serif;
    font-size: 0.875em;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    text-transform: uppercase;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

#form_button:hover{
 background-color: #474544;
 color: #F2F3EB;
}

@media screen and (max-width: 768px){
    #container {
        margin: 20px auto;
        width: 95%;
    }
}
@media screen and (max-width: 480px) {
    h1 {
        font-size: 26px;
    }

    .underline {
        width: 68px;
    }

    #form_button {
        padding: 15px 25px;
    }
}

@media screen and (max-width: 420px) {
    h1 {
        font-size: 18px;
    }

    .icon {
        height: 35px;
        width: 35px;
    }

    .underline {
        width: 53px;
    }

    input[type='text'],
    [type='email'],
    select,
    textarea {
        font-size: 0.875em;
    }
}
